<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.person.dao.TestDao">
    <resultMap id="TestResultMap" type="TestModel">
        <id column="testID" property="testID" jdbcType="VARCHAR" />
        <result column="testName" property="testName" jdbcType="VARCHAR" />
        <result column="testSex" property="testSex" jdbcType="VARCHAR" />
        <result column="testAge" property="testAge" jdbcType="VARCHAR" />
    </resultMap>
    <!-- 查询test表所有数据 -->
    <select id="getAllTest" parameterType="TestModel" resultMap="TestResultMap">
        SELECT * FROM test
    </select>
</mapper>